<%- include("template/cabecera", {tituloweb:'Página de Error'}) %>

    <h1>Error 404</h1>
    <h1><%= titulo %></h1>
    <h1><%= descripcion %></h1>
    <h1><%= titulo + descripcion %></h1>
    
    <%- include("template/footer") %>