<%- include("template/cabecera", {tituloweb:'Detalle de Campeonatos'}) %>
<div class="container"   >
    <h1>Detalle campeonato</h1>
    <% if (error) { %>
  
     <p>
           <%= mensaje %>
     </p>
     <a href="/campeonatos" classs="btn btn-dark btn-block">Volver a campeonatos</a>
    
   <% } %>

   <% if (!error) { %>
    <form id="formularioEditar" data-id="<%= campeonato.id %>">
        <input type="text"
                class="form-control my-2"
                name="nombre"
                id="nombreInput"
                value="<%= campeonato.nombreC %>">
        <input type="text"
                class="form-control my-2"
                name="descripcion"
                id="descripcionInput"
                value="<%= campeonato.lugar %>">
        <input type="text"
                class="form-control my-2"
                name="descripcion"
                id="descripcionInput"
                value="<%= campeonato.cantidad %>">
        <input type="text"
                class="form-control my-2"
                name="descripcion"
                id="descripcionInput"
                value="<%= campeonato.premio1 %>">
        <input type="text"
                class="form-control my-2"
                name="descripcion"
                id="descripcionInput"
                value="<%= campeonato.premio2 %>">
        <input type="text"
                class="form-control my-2"
                name="descripcion"
                id="descripcionInput"
                value="<%= campeonato.fechaAp %>">
        <input type="text"
                class="form-control my-2"
                name="descripcion"
                id="descripcionInput"
                value="<%= campeonato.fechaCl %>">
        <input type="text"
                class="form-control my-2"
                name="descripcion"
                id="descripcionInput"
                value="<%= campeonato.estado %>">
        <button class="btn btn-warning btn-sm" type="submit" >
            Editar
        </button>
        <button href="campeonatos/<%= campeonato.id %>"class="btn btn-danger btn-sm " id="btnEliminar" data-id="<%= campeonato.id %>" >                            
            Eliminar
        </button>
    </form>
    <hr/>
    
   <% } %>
</div>

   
<%- include("template/footer") %>

<!-- scrpt para eliminar -->
<script>
    // onclick vs addEventListener
    // https://stackoverflow.com/questions/6348494/addeventlistener-vs-onclick#:~:text=Essentially%20onclick%20is%20a%20HTML,(using%20this%20for%20example).
    
    const btnEliminar = document.querySelector('#btnEliminar')
      btnEliminar.addEventListener('click', async() => {
        console.log(btnEliminar.dataset.id)  
        try {
            // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
            const data = await fetch(`/campeonatos/${btnEliminar.dataset.id}`, {
              method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if(res.estado){
                window.location.href = '/campeonatos'
            }else{
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
      })

    //  script para editar
      const formularioEditar = document.querySelector('#formularioEditar')

        formularioEditar.addEventListener('submit', async(e) => {
            e.preventDefault()
           
            const nombre = formularioEditar.elements['nombreC'].value
            const lugar = document.querySelector('#lugarInput').value
            const cantidad = document.querySelector('#cantidadInput').value
            const premio1 = document.querySelector('#premi1Input').value
            const premio2 = document.querySelector('#premio2Input').value
            const fechaAp = document.querySelector('#fechaApnInput').value
            const fechaCl = document.querySelector('#fechaClInput').value
            const estado = document.querySelector('#estadoInput').value
            const id = formularioEditar.dataset.id
            console.log(nombre, lugar, cantidad, premio1, premio2,fechaAp, fechaCl, estado, id)

            try {
                const data = await fetch (`/campeonatos/${id}`,{
                    method: 'put',
                    headers:{
                       'Content-Type': 'application/json' 
                    },
                    body: JSON.stringify({nombre, lugar, cantidad, premio1, premio2,fechaAp, fechaCl, estado, id})
                })
                const res = await data.json()
                // console.log(res)
                if(res.estado){
                    window.location.href = '/campeonatos'
                }else{
                    console.log(res)
                }
            } catch (error) {
                console.log(error)
                
            }
        })
    </script>